.precio {
    font-size: 6rem;
    margin: 0;
}

@media ( max-width: 600px ) {
    body{
        background-color: red;
    }

    .oferta {
        max-width: 45rem;
    }

    .precio {
        font-size: 4rem;
    }
}